html,
body,
#__next {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0px;
  font-size: 1.6rem;
}
#__next {
  overflow-y: auto;
}
:root {
  --yellow: #f1fa8c;
  --red: #ff5555;
  --purple: #bd93f9;
  --pink: #ff79c6;
  --orange: #ffb86c;
  --green: #50fa7b;
  --cyan: #8be9fd;
  --comment: #6272a4;
  --foreground: #f8f8f2;
  --current-line: #44475a;
  --background: #282a36;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  color: var(--current-line);
}
