.container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 32px;
  font-size: 2.4rem;
}
.container:not(:last-child) {
  border-bottom: 1px solid var(--comment);
}

@media screen and (max-width: 600px) {
  .container {
    gap: 16px;
    padding: 16px 0 16px 0;
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 12px;
  font-size: 3.6rem;
  background-color: var(--background);
}

.icon > svg {
  color: var(--foreground);
}
.title {
  font-size: 3rem;
  font-weight: bold;
}
.subTitle {
  color: var(--purple);
}
.info {
  font-weight: lighter;
  color: var(--orange);
}
