.tab {
  margin-left: 16px;
}
.element {
  font-size: 2.4rem;
  margin: 24px;
  padding: 16px;
  background-color: var(--background);
  color: var(--pink);
  border-radius: 8px;
  transition: 0.4s;
}
.element:hover {
  transform: scaleX(1.025);
}
.element > span:nth-of-type(1) {
  color: var(--green);
}

.element > span:nth-of-type(2) {
  color: var(--yellow);
}
.comment {
  color: var(--comment);
  margin-left: 16px;
}
